#home{
    padding: 50px;
    width: 100vw;
    max-width: 700px;
    height: 100%;
    margin:auto;
    
}
#homeh1{
        font-size: 2rem;
        font-family: "Bonheur Royale", cursive;
        font-weight: 400;
        font-style: normal;
}

.text{
    background-color: rgba(99, 0, 102, 0.5);
    color: whitesmoke;
    padding: 0.8rem;
    border-radius: 1rem;
    margin: 1rem;
    font-size: 1.3rem;
    font-family: "Cookie", cursive;
    font-weight: 400;
    font-style: normal;
}